[submodule "fase5-ms-pedido"]
	path = fase5-ms-pedido
	url = https://github.com/soat1-grupo18/fase5-ms-pedido.git
[submodule "fase5-ms-pagamento"]
	path = fase5-ms-pagamento
	url = https://github.com/soat1-grupo18/fase5-ms-pagamento.git
[submodule "fase5-ms-cliente"]
	path = fase5-ms-cliente
	url = https://github.com/soat1-grupo18/fase5-ms-cliente.git
